---
layout: house
---
{%- assign chrome = site.data.strings[page.lang] -%}
{%- if page.lang == 'en' -%}{%- assign home = '/en/' -%}{%- else -%}{%- assign home = '/' -%}{%- endif -%}

  <a class="back" href="{{ home | relative_url }}">&#8592; {{ chrome.back }}</a>

  <header class="masthead">
    {%- if page.eyebrow %}
    <p class="eyebrow">{{ page.eyebrow }}</p>
    {%- endif %}
    <h1>{{ page.title }}</h1>
    {%- if page.author %}
    <p class="byline"><b>{{ page.author }}</b></p>
    {%- endif %}
    {%- if page.affiliation_lines %}
    <p class="affiliation">{{ page.affiliation_lines | join: '<br>' }}</p>
    {%- endif %}
    {% include lang-nav.html %}
  </header>

  <main class="prose" id="main" tabindex="-1">
    {{ content }}
  </main>
